footer{
    height: 60px;
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    line-height: 60px;
    float: left;
    p{
        font-size: 12px;
    color: #d6d6d6;
    letter-spacing: 0;
    }
}